$breakpoints: (
  // 512px
  xs: 32rem,
  // 768px
  sm: 48rem,
  // 1024px
  md: 64rem,
  // 1280px
  lg: 80rem,
  // 1440px
  xl: 90rem
);

// max-width media query, can be used as
// @include breakpoint(sm, "(orientation: landscape)") {
// }
// the second param is additional logic
@mixin breakpoint($breakpoint, $logic: false) {
  @if ($logic) {
    @media #{$logic} and (max-width: map-get($map: $breakpoints, $key: $breakpoint)) {
      @content;
    }
  } @else {
    @media (max-width: map-get($map: $breakpoints, $key: $breakpoint)) {
      @content;
    }
  }
}
