$gridBase: 4px;
$gridSmall: 8px;
$gridNormal: 16px;
$gridBig: 20px;
$gridLarge: 40px;

//colors
$cornFlower: #546de5;
$flamingoPink: #f78fb3;
$biscay: #303952;

$primaryColor: #1290A1;
$backgroundLightColor: #FFFFFF;
$backgroundColor: #E5E5E5;
$textColor: #000000;
$textLightColor: #FFFFFF;
$borderColor: #CCCCCC;

//font sizes
$fontSizeSmall: 12px;
$fontSizeNormal: 14px;
$fontSizeBig: 16px;
$fontSizeLarge: 32px;

//line heights
$lineHeightSmall: 16px;
$lineHeightNormal: 20px;
$lineHeightLarge: 40px;

//font weights
$fontWeightNormal: 400;
$fontWeightMedium: 500;

//borders
$borderSmall: 1px;

$fontFamily: Roboto;
