@import "tokens";

$vt-font-family: inherit;
$vt-toast-min-width: 328px;
$vt-toast-min-height: auto;

$vt-color-default: var(--color-key-primary);
$vt-text-color-default: white;

$vt-color-error: rgba(var(--color-error), 0.4);
$vt-text-color-error: var(--color-key-primary);

$vt-color-success: rgba(var(--color-primary), 0.5);
$vt-text-color-success: var(--color-key-primary);

// todo: add variables for info, warning types
$vt-color-info: #2196f3;
$vt-text-color-info: #fff;

$vt-color-warning: #ffc107;
$vt-text-color-warning: #fff;

@import "vue-toastification/src/scss/_variables";
@import "vue-toastification/src/scss/_toastContainer";
@import "vue-toastification/src/scss/_toast";
@import "vue-toastification/src/scss/_closeButton";
@import "vue-toastification/src/scss/_progressBar";
@import "vue-toastification/src/scss/_icon";
@import "vue-toastification/src/scss/animations/_bounce";

.Vue-Toastification__toast {
  border-radius: var(--border-radius-md);
  box-shadow: none;
  padding: var(--space-sm) var(--space-xl);

  &--success svg {
    color: var(--color-primary);
  }

  &--error svg {
    color: var(--color-error);
  }
}
