@import "breakpoints";
@import "~@dmitryrazinkov/tokens";

:root {
  // not scalable to screen size
  --space-unit-base: 1rem;
  // scalable to screen size
  --space-unit: var(--space-unit-base);
}

@include breakpoint(md) {
  :root {
    --space-unit: calc(0.75 * var(--space-unit-base));
  }
}

@include breakpoint(xs) {
  :root {
    --space-unit: calc(0.5 * var(--space-unit-base));
  }
}

:root,
* {
  //GRID
  --space-xxxxs: calc(0.125 * var(--space-unit)); // 2px
  --space-xxxs: calc(0.25 * var(--space-unit)); // 4px
  --space-xxs: calc(0.375 * var(--space-unit)); // 6px
  --space-xs: calc(0.5 * var(--space-unit)); // 8px
  --space-sm: calc(0.75 * var(--space-unit)); // 12px
  --space-md: calc(1 * var(--space-unit)); // 16px
  --space-lg: calc(1.25 * var(--space-unit)); // 20px
  --space-xl: calc(1.5 * var(--space-unit)); // 24px
  --space-xxl: calc(2 * var(--space-unit)); // 32px
  --space-xxxl: calc(2.5 * var(--space-unit)); // 40px
  --space-xxxxl: calc(3 * var(--space-unit)); // 48px
  --space-xxxxxl: calc(4.5 * var(--space-unit)); // 72px
  --space-xxxxxxl: calc(6 * var(--space-unit)); // 96px
  --space-xxxxxxxl: calc(7.5 * var(--space-unit)); // 120px

  --font-family: Roboto, sans-serif;

  //borders
  --border-xs: 1px;

  //border radius
  --border-radius-md: 4px;
  --border-radius-lg: 8px;

  //box shadows
  --box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.16), 0px 1px 2px rgba(0, 0, 0, 0.12),
    0px 1px 2px rgba(0, 0, 0, 0.24);

  --box-shadow-medium: 0px 4px 16px rgba(0, 0, 0, 0.08);

  // modal
  --modal-backdrop-filter: blur(8px);
  --modal-size-small: 464px;
  --modal-size-medium: 624px;
  --modal-size-large: 784px;
}
