@mixin font-large-title {
  font-size: var(--font-size-large-title);
  font-weight: var(--font-weight-large-title);
  line-height: var(--line-height-large-title);
}

@mixin font-title-1 {
  font-size: var(--font-size-title-1);
  font-weight: var(--font-weight-title-1);
  line-height: var(--line-height-title-1);
}

@mixin font-title-2 {
  font-size: var(--font-size-title-2);
  font-weight: var(--font-weight-title-2);
  line-height: var(--line-height-title-2);
}

@mixin font-title-3 {
  font-size: var(--font-size-title-3);
  font-weight: var(--font-weight-title-3);
  line-height: var(--line-height-title-3);
}

@mixin font-headline {
  font-size: var(--font-size-headline);
  font-weight: var(--font-weight-headline);
  line-height: var(--line-height-headline);
}

@mixin font-body {
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body);
  line-height: var(--line-height-body);
}

@mixin font-callout {
  font-size: var(--font-size-callout);
  font-weight: var(--font-weight-callout);
  line-height: var(--line-height-callout);
}

@mixin font-subheadline {
  font-size: var(--font-size-subheadline);
  font-weight: var(--font-weight-subheadline);
  line-height: var(--line-height-subheadline);
}

@mixin font-footnote {
  font-size: var(--font-size-footnote);
  font-weight: var(--font-weight-footnote);
  line-height: var(--line-height-footnote);
}

@mixin font-caption-1 {
  font-size: var(--font-size-caption-1);
  font-weight: var(--font-weight-caption-1);
  line-height: var(--line-height-caption-1);
}

@mixin font-caption-2 {
  font-size: var(--font-size-caption-2);
  font-weight: var(--font-weight-caption-2);
  line-height: var(--line-height-caption-2);
}

@mixin text-overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin n-lines($lines-count) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines-count;
}
